@using Microsoft.AspNetCore.Identity
@using System.Security.Claims

@{
    ViewData["Title"] = "Start";
}

<h1>@ViewData["Title"]</h1>

<form method="post" asp-action="Video">
    <button type="submit">Kliknij mnie!</button>
</form>

@if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
{
    <a class="btn btn-primary" href="@Url.Action("AddVehicle", "Home")">Dodaj pojazd</a>
    <a class="btn btn-secondary" href="@Url.Action("VehicleList", "Home")">Lista pojazdów</a>
    <a class="btn btn-success" href="@Url.Action("AddUser", "Home")">Dodaj użytkownika</a>
    <a class="btn btn-info" href="@Url.Action("UserList", "Home")">Zarządzaj użytkownikami</a>
}
else if (User.Identity.IsAuthenticated)
{
    <a class="btn btn-secondary" href="@Url.Action("MyVehicles", "Home")">Moje pojazdy</a>
}

@if (ViewBag.ShowVideo == true)
{
    <div style="text-align: center;">
        <video width="960" controls autoplay>
            <source src="/videos/ronaldo.mp4" type="video/mp4">
            Twoja przeglądarka nie obsługuje wideo.
        </video>
    </div>
}

@if (ViewBag.Message != null)
{
    <div style="text-align: center;">
        <h1 style="font-size: 48px; font-weight: bold;">
            @ViewBag.Message
        </h1>
    </div>
}
